@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,300;1,400&display=swap');
@import 'normalize';

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a, button {
    transition: all .3s ease-in-out 
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.mip {
    position: relative;
    &__main {
        background: url('../img/main-img.jpg') 0 0/cover no-repeat;
        margin-bottom: 200px;
        min-height: 100vh;
        position: relative;
    }
    &__protect {
        position: absolute;
        bottom: -150px;
        left: 10%;
        z-index: 4;
        color: #1086B0;
        background-color: #fff;
        width: 80%;
        display: flex;
    }
    &__protect-item {
        background-color: #C2E8F7;
        font-size: 2rem;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px 30px;
        margin: 30px;
        width: 50%;
        height: 200px;

    }
    &__nav {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        img {
            width: 60px;
        }
    }
    &__links {
        ul {
            list-style: none;
            display: flex;
        }
        li {
            margin: 10px 20px;
        }
        a {
            color: #fff;
            text-decoration: none;   
        }
    }
    &__gallery {
        height: 100vh;
        h2 {
            margin: 0;
            height: 10vh;
            padding: 10px;
            text-align: center;
            color: #1086B0;
            font-size: 2rem;
            font-weight: 700;
        }
    }
}


.fas {
    display: block;
    font-size: 5rem;
    padding: 5px;
    color: #fff;
}

.swiper-img {
    // width: 100%;
    margin: 0 auto;
    display: block;
    height: 90vh;
}

.contact {
    background-color: #C2E8F7;
    color: #006cc4;
    min-height: 100vh;
    margin-top: 100px;
    &__h2 {
        margin: 0;
        text-align: center;
        padding: 50px 0 10px;
        font-weight: 700;
        font-size: 4.2rem;
        @media screen and (max-width: 768px) {
            font-size: 3.6rem;
            padding: 30px 0 10px;
        }
        @media screen and (max-width: 576px) {
            padding: 15px 0 10px;
        }
    }
    &__form {
        display: flex;
        margin: 40px 0 0;
        padding: 10px 0;
        @media screen and (max-width: 768px) {
            display: block;
            margin: 20px 0 0;
        }
        @media screen and (max-width: 576px) {
            margin: 0;
            padding: 0;
        }
    }
    &__input {
        display: flex;
        flex-direction: column;
        width: 50%;
        @media screen and (max-width: 768px) {
            margin: 0 auto;
            width: 100%;
        }
    }
    &__btn {
        color: inherit;
        background-color: #fff;
        border: none;
        padding: 10px 0;
        font-size: 1.5rem;
        &:hover {
            cursor: pointer;
            box-shadow: 0 0 3px rgba(0, 108, 196, 0.8);
        }
        &:focus, &:active {
            border: none;
            outline: none;
            box-shadow: 0 0 8px rgba(0, 108, 196, 0.8);
        }
    }
}


.contact__input input, 
.contact__input textarea {
    border: none;
    outline: none;
    margin-bottom: 15px;
    color: #006cc4;
    background-color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 15px;
    @media screen and (max-width: 768px) {
        margin-bottom: 10px;
        font-size: 1.4;
        padding: 12px;
    }
}

.contact__input input::placeholder,
.contact__input textarea::placeholder {
    color: rgba(0, 108, 196, 0.4);
}

.contact__input input:active::placeholder,
.contact__input input:focus::placeholder,
.contact__input textarea:active::placeholder,
.contact__input textarea:focus::placeholder {
    color: rgba(0, 108, 196, 1);
}

.contact__input input:active,
.contact__input input:focus,
.contact__input textarea:active, 
.contact__input textarea:focus {
    opacity: 1;
    font-weight: 400;
    border-left: 5px solid #355b82;
}

.contact__info {
    width: 50%;
    margin-left: 4rem;
    @media screen and (max-width: 968px) {
        margin-left: 5rem;
    }
    @media screen and (max-width: 768px) {
        width: 90%;
        margin: 0 auto;
    }
}

.contact__info-h2 {
    font-size: 1.6rem;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.contact__info-p {
    color: rgb(1, 25, 92);
    font-size: 2rem;
    font-weight: 300;
    padding: 5px 0 20px;
    margin: 0;
    @media screen and (max-width: 768px) {
        font-size: 1.8rem;
    }
}
